<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "dao" class="ru.otus.spring.dao.QuestionDaoSimple">
        <constructor-arg type="java.lang.String"  value="questions.csv"></constructor-arg>
    </bean>

    <bean id = "questionservice" class="ru.otus.spring.service.QuestionServiceImpl">
        <constructor-arg ref = "dao"></constructor-arg>
    </bean>

</beans>
